@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

input, textarea, select { font-family: 'Poppins', sans-serif; }

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-family: 'Poppins', sans-serif;
}

.full-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  border: none;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.default-btn{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  border: none;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

a{
  color: cornflowerblue;
  font-weight: 300;
  cursor: pointer;
}

input{
  border: 1px solid black;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  background-color: #242222;
  border-left: 1px solid #000000;
}
 
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 100px;
}

.no-scroll {
  overflow: hidden;
}

/* a{
  word-break: break-all;
  overflow-wrap: anywhere;
  white-space: normal;
} */